<h2>password manager</h2>

<a href="http://119.29.194.108:6070/pc/add">add</a>
<a href="http://119.29.194.108:6070/pc/delete">delete</a>
<a href="http://119.29.194.108:6070/pc/modify">modify</a>
<a href="http://119.29.194.108:6070/pc/select">select</a>
<a href="http://119.29.194.108:6070/pc/show">index</a>

<p>提供的api</p>
<a href="http://119.29.194.108:6070/api/add">add</a>
<a href="http://119.29.194.108:6070/api/delete">delete</a>
<a href="http://119.29.194.108:6070/api/modify">modify</a>
<a href="http://119.29.194.108:6070/api/select">select</a>
