<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加密码信息</title>
</head>
<body>
<h2>添加密码信息</h2>

<form action="addPassword" method="post">
    <p>
        登录名: <input type="text" name="loginName" placeholder="必填">
    </p>
    <p>
        密码: <input type="password" name="password" placeholder="必填">
    </p>
    <p>
        用户名: <input type="text" name="userName">
    </p>
    <p>
        登录站点: <input type="text" name="loginSite"  placeholder="必填">
    </p>
    <p>
        登录站点域名: <input type="text" name="domainName">
    </p>
    <p>
        登录区域: <input type="text" name="area">
    </p>
    <p>
        加密密钥: <input type="text" name="secretKey">
    </p>
    <p>
        加密算法: <input typ="text" name="encryptionAlgorithm" placeholder="暂时不可用,目前仅支持des算法"> <!-- 使用下拉框进行选择-->
    </p>
</form>
</body>
</html>